{% extends "layout.html"%}

{% block title %}Freeman Hrabowski{% endblock %}

{% block bg %}<div class="bgpeople">{% endblock %}

{% block main %}
<div class="fhrab people">
<div id="fullpage">

  <section id="fh1" class="section">
      <div>
            <h1>
                "We were really being taught to march,<br>
                To sing, and to keep going.”
            </h1>
      </div>
  </section>

  <section class="section desc">
    <div class="container">
      <section>
        <p>
          <br>
            Freeman Hrabowski | August 13, 1950- Birmingham, AL | <br><br>

            <strong>Freeman was 12 when he was arrested in the Children’s Crusade of Birmingham.</strong>
            <br> 
            Although reluctant, the SCLC (Southern Christian Leadership Conference) members deliberated that the best way to incite change, was through the inspiration and empowerment of the world’s youth. They sought to gain the media’s sympathy because, “in America people care about children” (Hrabowski). Like MLK and everyone else, they knew this was a risky, but necessary act.
        </p>
        <img src="./static/image/fhrabadult.jpg" alt="fhrab adult"/>
        <p>
            <span style="margin-left: 3vw;">
                "If children participate in this demonstration. <br>
            </span>
            <span style="margin-left: 3vw;">
                All of America will see that even children understand <br>
            </span>
            <span style="margin-left: 3vw;">
                the difference between right and wrong, and that children <br>
            </span>
            <span style="margin-left: 3vw;">
                want the best possible education." - MLK <br>
            </span>
            <br>

            This quote is what is inspired Freeman Hrabowski to participate in the Children's Crusades.
            After persuading his reluctant parents, Freeman Hrabowski began attending training sessions in the tactics of non-violence resistance. “We were really taught to march, sing, and to keep going” (Hrabowski). 
            Finally, on May 2, 1963, Freeman and thousands of African American students skipped school and gathered at the Sixteenth Street Baptist Church. The young protesters were determined to change segregation by talking with Birmingham’s Mayor, Albert Boutwell. They marched towards city hall armed with spirituals, hope, and pride that they were making a change.
            <br><br>
            When the students neared city hall, Police corralled and imprisoned hundreds of their members. Freeman was placed in the Birmingham jail at the age of 12. MLK later visited and left these young crusaders with a powerful message,
            <br><br>
            <span style="margin-left: 2vw;">“What you do this day will impact children who have not been born.”</span>
        </p>
        </section>
    </div>
  </section>
  <section class="section">
    <iframe width="1000" height="755" src="https://www.youtube-nocookie.com/embed/gyZXMqUB67E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>
</div>
</div>
{% endblock %}