{% extends "layout.html"%}

{% block title %}Hunter and Holmes{% endblock %}

{% block bg %}<div class="bgpeople">{% endblock %}

{% block main %}
<div class="hh people">
<div id="fullpage">

  <section id="hh1" class="section">
      <div>
            <h1>
                People | Hunter and Holmes
                <br><br>
                "It was our determination<br>
                —mine and Hamilton’s—<br>
                to follow our dreams at the place<br>
                that was best suited to help us fulfill them."
            </h1>
      </div>
  </section>

  <section class="section desc">
    <div class="container">
        <p>
            <br>
            <strong><h3>Charlayne Hunter-Gault | February 27, 1942, in Due West, South Carolina |</h3>
            Charlayne wished to be a journalist.</strong>
            <br>
            As a child, she attended schools in California, Indiana, Ohio, Georgia and Alaska on account of her father’s military position. Despite the constant movement, she graduated from Atlanta’s Henry McNeal Turner High School as 3rd in her class. After having been denied from the University of Georgia, she attended Wayne State University in Detroit.
            <br><br>
            <h3><strong>Hamiltion Holmes | July 8, 1941- October 26, 1995 ~ Atlanta, GA |</strong></h3>
            <strong>Hamilton wished to be a doctor.</strong> <br>            
            His father was a businessman. His mother was a teacher. 
            However he felt more inspired by his uncle, Oliver Wendell Holmes,
            who desegregated golf courses. He graduated in 1959 as valedictorian
            from the same class as Charlayne, and attended Morehouse College after 
            his denial from UGA.

        </p>
        
        <img src="./static/image/hh.jpg" alt="school"/>

        <p>
            However, Morehouse College and Wayne State University were not the end of the line
            for these two. With the help of Atlanta lawyers and Mrs. Motley from the NAACP’s 
            Legal Defense Fund, both Charlayne and Hamilton won admission into the previously 
            segregated Georgia University in January, 1961.

            <br><br>

            In the 1960 court case, the judge ruled that the two, "would have already been 
            admitted had it not been for their race and color"

            <br><br>
            
            Their acceptance into UGA was met with violent acts. 
            Just two days after Hunter and Holmes had joined UGA, a white mob smashed windows,
            and other school property outside Hunter's dorm. Shortly afterwards, there was a
            new court order and they continued to attend school despite the racial tensions.
            They paved the way for their African American colleague, Mary Frances Early,
            to join them in their fight to desegregate UGA. (Mary Frances Early became the first African
            American to graduate from UGA in August 1962.)

            <br><br>
        </p>
  </section>

  <section class="section">
    <iframe width="1000" height="755" src="https://www.youtube-nocookie.com/embed/p47YJIzRvag" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  
    </section>
</div>
</div>
{% endblock %}