{% extends "layout.html"%}

{% block title %}Welcome{% endblock %}

{% block main %}
<div id="fullpage">
  <section class="section intro">
    <img src="./static/image/fade.png" alt="fade" class="fig" />
    <img src="./static/image/fig.png" alt="figures" class="fig"/>
    <h1 class="path">PATH</h1>
    <h1 class="way">WAYS</h1>
    <h2 class="credit">Inspired by Henry Louis Gates Jr.</h2>
  </section>

  <section class="section guide">
    <h1>my project</h1>
    <div class="description">
      <p> Lorem Ipsum </p>
      <p> Lorem Ipsum </p>
    </div>
  </section>
</div>
{% endblock %}