{% extends "layout.html"%}

{% block title %}Welcome{% endblock %}

{% block main %}
<div id="fullpage">
  <section class="section intro">
    <img src="./static/image/fade.png" alt="fade" class="fig" />
    <img src="./static/image/fig.png" alt="figures" class="fig"/>
    <h1 class="path">PATH</h1>
    <h1 class="way">WAYS</h1>
    <h2 class="credit">Inspired by Henry Louis Gates Jr.</h2>
  </section>

  <section class="section guide">
    <div class="container">
      <section class="rubyb"><h1>Ruby Bridges</h1></section>
      <section class="hunter-holmes"><h1>Hunter and Holmes</h1></section>
      <section class="fhrab"><h1>Freeman Hrabowski</h1></section>
    </div>
  </section>
</div>
{% endblock %}