{% extends "layout.html" %}

{% block title %}
    Poems - Pathways
{% endblock %}

{% block main %}
    <h1 class="title">POEMS</h1>
    <div class="container-fluid">
        <div class="row justify-content-end">
            <img class="portrait" src="static/image/noimages.jpg">
            <div class="col-5">
                <h2>No Images</h2>
                <p>
                    She does not know </br>
                    Her beauty </br>
                    She thinks her brown body </br>
                    Has no glory. </br></br>
                    If she could dance </br>
                    Naked, </br>
                    Under palm trees </br>
                    And see her image in the river </br>
                    She would know. </br></br>
                    But there are no palm trees </br>
                    On the street, </br>
                    An dishwater gives back no </br>
                    images.
                </p>
                <p>
                    <span class="biography">
                        William Waring Cuney </br>
                        Poet of the Harlem Renaissance...
                    </span>
                </p>
            </div>
        </div>
    </div>
{% endblock %}