{% extends "layout.html"%}

{% block title %}Ruby Bridges{% endblock %}

{% block main %}
<div id="fullpage">
  <section class="section rbridges">
      <img class="photo" src="./static/image/rbridgesart.jpg"/>
      <div>
            <h1>People | Ruby Bridges <br/><br/>
                Ruby Bridges didn't know it, <br/> but she was making history.</h1>
      </div>
  </section>

  <section class="section s2">
    <h1>Her Story</h1>
    <div class="description">
      <p> Lorem Ipsum </p>
      <p> Lorem Ipsum </p>
    </div>
  </section>
</div>
{% endblock %}