{% extends "layout.html"%}

{% block title %}Ruby Bridges{% endblock %}

{% block bg %}<div class="bgpeople">{% endblock %}

{% block main %}
<div class="rbridges people">
<div id="fullpage">

  <section id="rb1" class="section">
      <div>
            <h1>
                "People | Ruby Bridges <br/><br/>
                Don't Follow the Path, <br/>
                Go where there is no path and <br/>
                Start a trail."
            </h1>
      </div>
  </section>

  <section class="section desc">
    <div class="container">
      <section>
        <p>
          <br>
          Ruby Bridges | Born September 8th, 1954- in Tylertown, Mississippi | <br><br>

          Ruby is the first african american student to integrate into a southern school.
          In 1958, the Bridges family moved to New Orleans for better work opportunities. There Ruby attended a New Orleans Segregated Kindergarten.
          <br><br>
          Brown vs. Board of Education took place in 1954, however Louisiana began desegregation in 1960. To stall and prevent integration, african american students who wished to integrate took an entrance exam to determine whether they could ‘compete academically’. Only six students were selected to attend the William Frantz Elementary School in 1960.
        </p>
        
        <img src="./static/image/rbridges.jpg" alt="school"/>

        <p>
          Ruby passed the exam. Her parents, Abon and Lucille Bridges, took into account the dangers, as well as the potential of their daughter. They enrolled their six year old daughter into William Frantz Elementary School 1960. 
          Ruby and her mother were escorted to school by Federal Marshals every school day. Nearly everyday they were met with segregationist protests and violent anger.
          <br><br>
          As Ruby Bridges entered, hysteric white parents pulled their children out.
          Ruby spent her first day in the principal’s office to stay safe from the ensuing chaos.
          The segregationist protesters never saw a child.
          <br><br>
          Barbara Henry was the first teacher to accept Ruby into her class. Unfortunately, Ruby was her only student as all the other white students were taken out of class. Barbara became her greatest ally within the school.
          <br><br>
        </p>

        <p style="clear: both">
          <span class="subtext">
            Ruby wasn’t frightened at first as the crowd resembled a sort of ‘Mardi Gras’. <br>
            That was until she saw a white woman holding a black baby doll in a coffin. <br>
          </span>
        </p>
      
        
        <br>
        <p>

        </p>
      </section>
    </div>
  </section>
  <section class="section">
    <iframe width="1000" height="755" src="https://www.youtube-nocookie.com/embed/qbb0Pc_Wv6E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </section>
</div>
</div>
{% endblock %}