{% extends "layout.html"%}

{% block title %}Ruby Bridges{% endblock %}

{% block bg %}<div class="bg">{% endblock %}

{% block main %}
<div class="rbridges">
<div id="fullpage">

  <section id="rb1" class="section">
      <div>
            <h1>People | Ruby Bridges <br/><br/>
                Ruby Bridges didn't know it, <br/> but she was making history.</h1>
      </div>
  </section>

  <section class="section s2">
    <h1>Her Story</h1>
    <div class="description">
      <p> Lorem Ipsum </p>
      <p> Lorem Ipsum </p>
    </div>
  </section>
</div>
</div>
{% endblock %}