{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-5">
            {% if message %}
            <div class="alert alert-primary" role="alert">{{message}}</div>
            {% endif %}
            <label>
                Search a Book!
            </label>
            <form action="/search" method="post">
                <input class="form-control" autofocus autocomplete="off" name="title" placeholder="Title" type="text">
                <input class="form-control" autofocus autocomplete="off" name="author" placeholder="Author" type="text">
                <input class="form-control" autofocus autocomplete="off" name="isbn" placeholder="ISBN" type="number">
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>
    {% if query %}
    <div class="row justify-content-center">
        <div class="col-5">
            <label>
                Results
            </label>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">ISBN</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}